.scp-upgrade-page {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.scp-upgrade-page .top-heading h2,
.scp-upgrade-page h2 {
  font-size: 23px;
  font-weight: 400;
  color: #000;
  line-height: 27px;
  margin: 20px 0;
}
.scp-upgrade-page ul {
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.scp-upgrade-page ul li {
  position: relative;
  padding-left: 18px;
  list-style: none;
  font-size: 15px;
  color: #000;
}
.scp-upgrade-page ul li:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid #666;
  /*
	border: 3px solid #43b6ab;*/

  top: 6px;
  left: 0;
  border-right: 0;
  border-top: 0;
  transform: rotate(-133deg);
  border-collapse: collapse;
}
.scp-upgrade-page a,
.scp-upgrade-page input.button {
  padding: 8px 25px;
  background: orange;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border-radius: 3px;
}
.scp-upgrade-page input.button.button-primary {
  text-shadow: none;
  box-shadow: none;
  line-height: 15px;
}
.scp-upgrade-page .scp-upgrade-sub input[type="email"] {
  box-shadow: none;
}
#subscribe_form label {
  font-size: 14px;
  font-weight: bold;
}
#subscribe_form .scp-upgrade-sub input {
  padding: 7px;
  width: 230px;
  margin-bottom: 0;
}
#subscribe_form .scp-upgrade-sub .button {
  line-height: 22px;
  height: 36px;
  width: auto;
  padding: 7px 15px;
}
.scp-upgrade-page i {
  display: inline-block;
  width: 350px;
  font-size: 13px;
  margin: 5px 0 10px 0;
  vertical-align: middle;
  padding: 0px 10px;
  box-sizing: border-box;
  line-height: 20px;
}
.scp-transaction {
  background: #fff;
  padding: 20px 25px;
  margin: 15px;
  width: auto;
  float: right;
  box-sizing: border-box;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px 2px #ccc;
}
.scp-transaction h2 {
  margin-top: 0;
}
.scp-upgrade-page a.large-btn {
  padding: 15px 25px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
@media only screen and (min-width: 0px) and (max-width: 1200px) {} @media only screen and (min-width: 0px) and (max-width: 1100px) {
  .biztech-left-sidebar.upgrade {
    width: 100%;
    display: inline-block;
  }
  .biztech_scp_pro_feature.pro_sticky {
    position: relative;
    float: none;
    top: 0;
    left: 0px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 820px) {
  .scp-upgrade-page-left-col {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
    float: none;
  }
}
@media only screen and (min-width: 0px) and (max-width: 782px) {
  .auto-fold #wpcontent {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .biztech-left-sidebar.upgrade {
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 580px) {
  .scp-upgrade-page .top-heading h2,
  .scp-upgrade-page h2 {
    font-size: 20px;
    line-height: 23px;
  }
  .scp-upgrade-page-left-col {
    width: 100%;
    float: none;
    text-align: left;
  }
}
@media only screen and (min-width: 0px) and (max-width: 380px) {
  #subscribe_form .scp-upgrade-sub input {
    margin-bottom: 10px;
  }
}
